<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key ="urlLogin" value="https://siga.cps.sp.gov.br/aluno/login.aspx?"/>
		<add key ="urlHome" value="https://siga.cps.sp.gov.br/aluno/home.aspx"/>
		<add key="urlWhatsappAPI" value="http://localhost:3000"/>
		<add key="email" value="robozinhodosiga@gmail.com"/>
		<add key="emailSenha" value="smir wvtd uuee odvl"/>
		<add key="emailHost" value="smtp.gmail.com"/>
		
	</appSettings>
	
</configuration>